.burger-container {
  width: 40px;
  height: 62px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  display: none;
}

@media (max-width: 768px) {
  .burger-container {
    display: flex;
  }
}
