.header__text {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Graphik LCG', sans-serif;
  padding-bottom: 92px;
  z-index: 1;
}

@media (max-width: 768px) {
  .header__text {
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 38px;
  }
}

@media (max-width: 375px) {
  .header__text {
    text-align: center;
    padding-bottom: 24px;
  }
}
